.game-container {
  margin-top: 50px;
}

.game-board {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
  width: 400px;
  margin: auto;
  margin-top: 25px;
  font-size: 40px;
  text-align: center;
  line-height: 133.3333333333px;
  border-radius: 3px;
  border: 1px solid black;
  overflow: hidden;
}

.hide {
  display: none;
}

.game-board-row {
  display: flex;
}
.game-board-row:last-child .game-board-space {
  border-bottom: 0;
}

.game-board-space {
  flex: 1;
  height: 133.3333333333px;
  cursor: pointer;
  transition: all 0.15s;
  background: #eeeeee;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #bbbbbb;
}
.game-board-space.selected-space,
.game-board-space.selected-space:hover {
  background-color: #627687;
  color: white;
  border-color: #262525;
}
.game-board-space:nth-child(3) {
  border-right: 0;
}
.game-board-space:hover {
  background: #e6e6e6;
}

#start-button {
  display: none;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
}

.flexcell {
  flex: 1;
  margin-right: 25px;
  margin-left: 25px;
}

.center {
  text-align: center;
  align-content: center;
}

ul {
  list-style: none;
}

button {
  margin: 0 auto;
}

.margin-top {
  margin-top: 50px;
}

body {
  background-image: url("/Users/orenmagid/Development/Mod_3_Final_Project/tic_word_tac_frontend/images/old-paper-texture.png");

  background-size: cover;
}

img {
  opacity: 0.9;
}
